
<footer>

    <h4 style="text-decoration: underline;" id="footer-heading">Choose Rentifr And Enjoy Massive Savings</h4>
    <p id="footer-para">Rentifr is a plateform for renting iteams without any brokerage charges.Rentifr is offering to individuals to they can rented their products like bike, car and phone etc for rent and earn money without any risk.</p>


    <div class="footer-3-divs">
       <h4>RENTIFR</h4>
       <ul>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/ourTeam">Our Team</a></li>
       </ul>
    </div>

    <div class="footer-3-divs">
       <h4>POLICIES</h4>
       <ul>
          <li><a href="/rentierTermsConditions">Rentier Terms & Conditions</a></li>
          <li><a href="/renterTermsConditions">Renter Terms & Conditions</a></li>
          <li><a href="/privacyPolicies">Privacy & Policies</a></li>
       </ul>
    </div>

    <div class="footer-3-divs">
       <h4>NEED HELP?</h4>
       <ul>
          <li><a href="/contact"><button style="margin:0px;padding-top:0px;">Contact with us 10AM to 4PM</button></a></li>
          <li><a href="mailto: info@rentifr.com" style="padding: 0px;margin:0px;">help@rentifr.com</a></li>
          <li><a href="https://www.facebook.com/"><img style="width:30px;margin-right:15px;" src="logos/facebook.png" alt=""></a>
              <a href="https://twitter.com/"><img style="width:30px;margin-right:15px;"src="logos/twitter.png" alt=""></a>
              <a href="https://in.linkedin.com/"><img style="width:30px;margin-right:15px;"src="logos/linkedin.png" alt=""></a>
          </li>

       </ul>
    </div>

 </footer>



</body>


</html>
