<%- include("../partials/header") %>


  <div class="login-div signup-div" >

    <div  class="logout-sub">
      <img src="logos/righticon.png" alt="">
      <h2>Logout Successfully.</h2>
    </div>
<br>
<p>Your account has been<br> Logout successfully.</p>

<a href="/login"><button type="button" name="button">Login Again</button></a>

  </div>


<%- include("../partials/footer") %>
