<%- include("../partials/header") %>


  <div class="login-div signup-div" >

    <div  class="after-signup signup-div-1">
      <img src="logos/righticon.png" alt="">
      <h2 style="color:white;">Success</h2>
    </div>
<br>
<p>Congratulations, your account has been<br> successfully created.</p>

<a href="/login"><button type="button" name="button">Login</button></a>

  </div>


<%- include("../partials/footer") %>
