<%- include("../partials/header") %>


  <div class="login-div signup-div" >

    <div  class="after-signup">
      <img src="logos/wrongicon.png" alt="">
      <h2>Unsuccess</h2>
    </div>
<br>
<p>Sorry, your account has been<br> not created.</p>
<a href="/signup"><button type="button" name="button">SignUp</button></a>

  </div>


<%- include("../partials/footer") %>
