<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <input id="heading-id" type="file" name="" value="">

<img src="<%=fileData%>" alt="">
      <!-- <h1 id="heading-id">dsgggggggsgg</h1> -->

  </body>

  <script src="script/test.js" charset="utf-8"></script>
</html>
