<%-include('../partials/header')%>


<div class="payment-confirm">
  <img src="logos/thank-you2.png" alt="">
  <h2>Thank you for Choosing Rentifr</h2>
</div>


<script src="script/paymentConfirm.js"></script>

<%-include('../partials/footer')%>
