<%- include("../partials/header") %>

        <div class="footer-file" >
            <h2>About Us</h2>
            <h2>⸻⸺</h2>

            <h2 class="footer-file-heading">The  Brand</h2>
            <h2 class="footer-file-underline">⸺</h2>

            <p>Hi! We’re <b>Rentifr</b>, an online rental solution for your needs.<br><br>

              Why renting, you ask? Well, because we understand that unnecessary
              furniture and appliance costs aren’t the best investment options.
              So we decided to come up with an easier solution instead. We provide
              more than online rental services, we help you explore a world of
              possibilities. With our assured quality and prompt services,you can
              say goodbye to all the hassles that come with buying and
              say hello to convenience.<br>

            </p><br>

            <h2 class="footer-file-heading">Trusted Us</h2>
            <h2 class="footer-file-underline">⸺</h2>
<br><br>
            <div class="footer-file-trust">

              <table >
                <tr>
                  <td class="footer-file-trust-logo-div"><img class="footer-file-trust-logo" src="logos/trust1.png" alt=""></td>
                  <td class="footer-file-trust-logo-div"><img class="footer-file-trust-logo" src="logos/trust2.jpg" alt=""></td>
                  <td class="footer-file-trust-logo-div"><img class="footer-file-trust-logo" src="logos/trust3.jpg" alt=""></td>
                </tr>

                <tr>
                  <td class="footer-file-trust-logo-div"><img class="footer-file-trust-logo" src="logos/trust4.png" alt=""></td>
                  <td class="footer-file-trust-logo-div"><img class="footer-file-trust-logo" src="logos/trust5.png" alt=""></td>
                  <td class="footer-file-trust-logo-div"><img class="footer-file-trust-logo" src="logos/trust6.jpg" alt=""></td>
                </tr>
              </table>

            </div>


        </div>

<%- include("../partials/footer") %>
