<%- include("../partials/header") %>



<div class="footer-file-main-border" >
    <h2>Contact Us</h2>
    <h2 class="footer-file-underline-second">⸻⸺</h2>

    <h3 class="footer-file-heading-second">We are here to help!</h3>

    <a href="mailto: info@rentifr.com">info@rentifr.com</a><br>
    <button type="button" name="button">Connect with us (10AM to 5PM)</button>

    <h3 class="footer-file-heading-second">Rentifr - Head Office</h3>

    <p>4th Floor, Central Library Building, Department of Computer Science & Technologu, Jamia Hamdard Campus, New Delhi-110061</p>

</div>


<%- include("../partials/footer") %>
