<%- include("../partials/header") %>

        <div class="footer-file" >
            <h2>Our Team</h2>
            <h2>⸻⸺</h2>

            <h2 class="footer-file-heading">Developer</h2>
            <h2 class="footer-file-underline">⸺</h2>

<table>
  <tr>
    <td style="width:60%;text-align: justify;"><p>Hi, my name is <b>Ziya Ul Rehman</b>.<br><br>

      My name is Ziya Ul Rehman and I'm thrilled to be
      here as a student. I am currently attending Jamia Hamdard
      pursuing a Bachelor's degree in Computer Application. I have
      always had a deep curiosity for Computer Application and I'm
      developed Rentifr.<br>

    </p></td>
    <td style="width:40%;"><img style="width:200px;height:250px;border-radius:20px;box-shadow:5px 5px .4em gray; margin-left:150px;" src="logos/ziya.jpg" alt=""></td>
  </tr>
</table>


            <br>

            <h2 class="footer-file-heading">Supervisor</h2>
            <h2 class="footer-file-underline">⸺</h2>


<table>
  <tr>
    <td style="width:60%;text-align: justify;"><p>Hello, my name is <b>Dr.Javed Ahmad</b>.<br><br>

      I Supervised this project within my guidence.My goal
      every day is to have a positive impact on students.
       I believe that I can perform as an excellent educator,
       and I hope to contribute as much as possible to help in the
       positive development and growth of the student.<br>

    </p></td>
    <td stydle="width:40%;"><img style="width:200px;height:250px;border-radius:20px;box-shadow:5px 5px .4em gray;text-align:center;margin-left:150px;" src="logos/javed.jpg" alt=""></td>
  </tr>
</table>


        </div>

<%- include("../partials/footer") %>
