<%- include("../partials/header") %>

        <div class="footer-file" >
            <h2>Privacy & Policies</h2>
            <h2>⸺⸺⸺</h2>

            <h2 class="footer-file-heading">Privacy & Policies</h2>
            <h2 class="footer-file-underline">⸺</h2>

             <ul>
               <li><b>Data Collection and Use:</b> The Rentifr is specify that
                 the data collect from user like name, email , contact number and
                 payment method it may use for improving Rentifr System and recomandation.</li><br>

               <li><b>Data Protection and Security:</b> Rentifr never share user personal
                 information with any third party plateform for any purposes.</li><br>

                 <li><b>Cookies and Tracking:</b> Rentifr may use your cookies for better
                   result and improving plate quality.</li><br>

                   <li><b>Third-Party Disclosure:</b> If any user use any third party plateform
                     for renting any product from Rentifr so in this type of Rentifr
                     is not responsibe any fraud.</li><br>

                     <li><b>Changes to the Privacy Policy:</b> Rentifr can change Privacy Polices after any compains or order of government.</li><br>

                   <li><b>Contact Information:</b> User can report us on rentifr@gmail.com for
                     any type miss behaviour from Rentifr ends</li><br>

             </ul>
            <p>We’re <b>Rentifr</b>, an online rental solution for your needs.<br><br>

              All above Terms and Conditions is compulsory to follow by Rentier for good relation with
              Rentifr and Customers.We hope all rentier agree with all above Terms and Condtions. if any Rentier
              want to suggest us for add or change Terms and Condition so please contact us using email.<br>

            </p><br>



            <div class="footer-file-trust">

              <table >
                <tr><br>
                  <td class="footer-file-trust-logo-div"><h2>Data Collection and Use <br><br></h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Data Protection and Security</h2><br><br></td>
                  <td class="footer-file-trust-logo-div"><h2>Cookies and Tracking</h2><br><br></td><br>
                </tr>

                <tr><br>
                  <td class="footer-file-trust-logo-div"><h2>Third-Party Disclosure</h2><br></td>
                  <td class="footer-file-trust-logo-div"><h2>Changes to the Privacy Policy</h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Contact Information</h2></td>
                </tr>
              </table>

            </div>

        </div>

<%- include("../partials/footer") %>
