<%- include("../partials/header") %>

        <div class="footer-file" >
            <h2>Renter Terms & Conditions</h2>
            <h2>⸻⸻⸺⸺</h2>

            <h2 class="footer-file-heading">Terms & Conditions</h2>
            <h2 class="footer-file-underline">⸺</h2>

             <ul>
               <li><b>Rental Agreement:</b> The renter should agree to the terms
                 and conditions of the rental agreement, which may include the
                 rental period, fees and charges, and product availability.</li><br>

               <li><b>Payment:</b> The renter should provide accurate and complete
                 payment information for the rental, including any deposit or upfront
                 fees, and agrees to pay the rental fee in full at the time of rental.</li><br>

                 <li><b>Responsibility for the Product:</b>  The renter is responsible for
                   the rented product during the rental period, including any damages, loss
                   or theft of the product.</li><br>

                   <li><b>Return of the Product:</b> The renter agrees to return the rented
                     product at the end of the rental period, in accordance with the agreed-upon
                     delivery and return process. Late returns may result in additional fees.</li><br>

                     <li><b>Care and Maintenance of the Product:</b> The renter agrees to take reasonable
                       care of the rented product and to return it in the same condition as received,
                       normal wear and tear excepted.</li><br>

                   <li><b>Governing Law and Jurisdiction:</b> The rental agreement shall be governed
                     by the laws of the jurisdiction in which the renting product rentier is located,
                     and any disputes shall be resolved in the courts of that jurisdiction..</li><br>

             </ul>
            <p>We’re <b>Rentifr</b>, an online rental solution for your needs.<br><br>

              All above Terms and Conditions is compulsory to follow by Rentier for good relation with
              Rentifr and Customers.We hope all rentier agree with all above Terms and Condtions. if any Rentier
              want to suggest us for add or change Terms and Condition so please contact us using email.<br>

            </p><br>



            <div class="footer-file-trust">

              <table >
                <tr><br>
                  <td class="footer-file-trust-logo-div"><h2>Rental Agreement <br>.</h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Payment</h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Responsibility for the Product</h2></td><br>
                </tr>

                <tr><br>
                  <td class="footer-file-trust-logo-div"><h2>Return of the Product</h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Care and Maintenance of the Product</h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Governing Law and Jurisdiction</h2></td>
                </tr>
              </table>

            </div>

        </div>

<%- include("../partials/footer") %>
