<%- include("../partials/header") %>

        <div class="footer-file" >
            <h2>Rentier Terms & Conditions</h2>
            <h2>⸻⸻⸺⸺</h2>

            <h2 class="footer-file-heading">Terms & Conditions</h2>
            <h2 class="footer-file-underline">⸺</h2>

             <ul>
               <li><b>Product Availability:</b> The Rentier should specify the
                 availability of each product.</li><br>

               <li><b>Payment Terms:</b> The Rentier should outline the payment
                 terms for renting the products, including the refund policy.</li><br>

                 <li><b>Delivery and Return:</b> The Rentier should describe the delivery
                   and return process for each product, including the delivery fees and any
                   penalties for late returns or damages at the time of accepting order.</li><br>

                   <li><b>Liability:</b> The website should clearly state the liability of both
                     the renter and the website in case of damages or accidents during the rental period.</li><br>

                     <li><b>Prohibited Uses:</b> The website should outline any prohibited uses of the
                       rented products, including any safety regulations or legal restrictions.</li><br>

                   <li><b>Governing Law:</b> The website should specify the governing law and
                     jurisdiction for any disputes arising from the rental agreement.</li><br>

             </ul>
            <p>We’re <b>Rentifr</b>, an online rental solution for your needs.<br><br>

              All above Terms and Conditions is compulsory to follow by Rentier for good relation with
              Rentifr and Customers.We hope all rentier agree with all above Terms and Condtions. if any Rentier
              want to suggest us for add or change Terms and Condition so please contact us using email.<br>

            </p><br>



            <div class="footer-file-trust">

              <table >
                <tr><br>
                  <td class="footer-file-trust-logo-div"><h2>Product Availability <br>.</h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Payment Terms</h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Delivery and Return</h2></td><br>
                </tr>

                <tr><br>
                  <td class="footer-file-trust-logo-div"><h2>Liability</h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Prohibited Uses</h2></td>
                  <td class="footer-file-trust-logo-div"><h2>Governing Law</h2></td>
                </tr>
              </table>

            </div>

        </div>

<%- include("../partials/footer") %>
